{% extends "university/base.html" %}
{% load static %}

{% block title %}
    {{ cours.name }}
{% endblock %}

{% block content %}
  {% if predcomp_list %}
    <table class="enter_comp">
      <caption><h2>Входящие компетенции</h2></caption>
      <tr class="hide">
        <th>Код компетецнии</th>
        <th>Описание компетенции</th>
        <th>Дисциплина</th>
      </tr>
      {% for pred , comp_list in predcomp_list.items %}
        {% for comp in comp_list %}
          <tr>
            <td>{{ comp.cod }}</td>
            <td class="opis">{{ comp.about }}</td>
            <td>
              <a href="{% url 'course:course_detail' pred.tr.slug pred.slug %}">
                {{ pred }}
              </a>
            </td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    <h2>Входящих компетенций нет</h2>
  {% endif %}

  {% if comp_list %}
  <table class="exit_comp">
  <caption><h2>Исходящие компетенции</h2></caption>
    <tr class="hide">
      <th>Код компетецнии</th>
      <th>Описание компетенции</th>
    </tr>
    {% for comp in comp_list %}
    <tr>
      <td>{{ comp.cod }}</td>
      <td class="opis">{{ comp.about }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <h2>Исходящих компетенций нет</h2>
  {% endif %}
  {% if comp_list and predcomp_list%}
    <div class="Download">
      <a href="{% url 'course:course_xlsx' course.tr.slug course.slug %}">Скачать файл xlsx</a>
    </div>
  {% endif %}
{% endblock %}